body{
    margin: 0px;
    font-family: 'Pacifico', cursive;
}
h1{
    font-size: 40px;
    font-weight: 700;
}
h2{
    font-size: 30px;
    font-weight: 700;
}
h3{
    font-size: 20px;
    font-weight: 700;
}
.top-banner{
  background-image: url(image2/top-banner.png);
  background-repeat: no-repeat;
}
.desirable-banner{
    background-image: url(image2/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orange-color{
    color: chocolate;
}
.button-color{
    background-image: linear-gradient(gold, red);
    color: cornsilk;
    text-decoration: none;
    border: 1px solid coral;
    padding: 10px 30px;
    border-radius: 5px;
    
}
.flexible-div{
   display: flex;
   margin-bottom: 150px;
   
}
.width-div{
    margin-left: 2%;
    
    width: 50%;
    

}
.width-div img{
    width: 80%;
}
.skill-design{
    
    color: darkorange;
    text-align: center;
}
#skill-background{
    background-image: url(image2/curve\ line.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.border-left{
    border-image: linear-gradient(#e15f41, green);
    border-left: 8px solid;
    border-image-slice: 1;
    box-shadow: 10px 20px 60px gray;
    padding:0px 20px;
}
.border-right{
    border-image: linear-gradient(blue, #3dc1d3);
    border-left: 8px solid;
    border-image-slice: 1;
    box-shadow: 10px 2px 60px #596275;
    margin-right: 2%;
    padding:0px 20px;
}
footer{
    text-align: center;
    background-color: lightseagreen;
    padding: 20px; 
}
footer p{
    font-size: 20px;
}
.copyright{
    display: inline-block;
    font-size: 24px;
    font-family: sans-serif;
}
.header-part{
    background: aliceblue;
}
.header-part ul{
        margin: 0px;
        text-align: right;
}
.header-part ul li{
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
    font-size: 16px;
    padding: 0px 8px;
}
.header-part ul li:hover a{ 
   background-color: #0fbcf9;
   transition: .5s;
}